<main>
    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__title display-2">Get your business noticed online</h1>
            <hr class="hero__line">
            <h2 class="hero__subtitle lead">We build professionally optimized websites that will bring your customers to you.</h2>
            <a href="/contact" class="btn-primary">Let's talk</a>
        </div>
    </section>

    <section id="purpose" class="section purpose">
        <svg class="purpose__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#fff;" /></svg>

        <div class="section__padding section__container">
            <div class="section__content purpose__content">
                <h2 class="section__title">Our Purpose</h2>
                <hr class="section__line">
                <p>Jenstech partners with businesses in the greater Charlotte, NC area to create a digital presence. Specifically, helping your customers find you.</p>
                <div class="section__ctas">
                    <a href="/contact" class="btn-primary">Get a presence</a>
                    <a class="btn-primary btn-primary--alt" href="/purpose">Learn more</a>
                </div>
            </div>
            <div class="section__image-container purpose__image">
                <figure>
                    <%- image_tag('images/icon-purpose.svg', {class: 'section__image', alt: 'Our purpose at Jenstech'}) %>
                </figure>
            </div>
        </div>
    </section>

    <section id="services" class="section services">
        <svg class="services__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#F7F5EF;" /></svg>

        <div class="section__padding section__container">
            <div class="section__image-container service__image">
                <figure>
                    <%- image_tag('images/icon-services.svg', {class: 'section__image', alt: 'Services at Jenstech'}) %>
                </figure>
            </div>
            <div class="section__content services__content">
                <h2 class="section__title">Our Services</h2>
                <hr class="section__line">
                <p>We only offer services that will provide value. The services below will help your business' digital presence. No fluff.</p>
                <ul class="section__list">
                    <% site.data.services.forEach(function(service) { %>
                        <li>
                            <a href="<%- service.url %>">
                                <%- service.name %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
                <div class="section__ctas">
                    <a href="/contact" class="btn-primary">I'm sold</a>
                    <a class="btn-primary btn-primary--alt" href="/services">Learn more</a>
                </div>
            </div>
        </div>
    </section>

    <section id="process" class="section process">
        <svg class="process__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#F7F5EF;" /></svg>

        <div class="section__padding section__container">
            <div class="section__content process__content">
                <h2 class="section__title">Our Process</h2>
                <hr class="section__line">
                <p>Let's sit down and discuss the things that are going right, wrong, missing, and what is confusing about your business. Shedding light on these 4 areas will help our team lay the foundation to optimize your business.</p>
                <p>Call us now or fill out the form below.</p>
                <div class="section__ctas">
                    <a href="tel:5635087662" class="btn-primary">Call Now</a>
                    <a href="/process" class="btn-primary btn-primary--alt">Learn More</a>
                </div>
            </div>
            <div class="section__image-container process__image">
                <figure>
                    <%- image_tag('images/icon-process.svg', {class: 'section__image', alt: 'Our process at Jenstech'}) %>
                </figure>
            </div>
        </div>
    </section>

    <%- partial('_partials/contact-form') %>
</main>
