<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2XMG6P');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156815416-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156815416-1');
    </script>
    <!-- End Google Analytics -->
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <%- open_graph({
      title: page.title,
      description: is_home() ? config.description : page.meta_description,
    }) %>
    <% if (is_home()) { %>
      <title>Jenstech | Web design and development company from Charlotte, NC</title>
    <% } else { %>
      <title>Jenstech | <%- page.title %></title>
    <% } %>
    <!-- End Meta -->
    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600|Playfair+Display|Poiret+One&display=swap" rel="stylesheet">
    <%- css('css/styles.css') %>
    <link rel="icon" type="image/png" href="<%- theme.favicon %>">
    <!-- End Link -->
    <!-- Scripts -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://kit.fontawesome.com/2df9c1014b.js" crossorigin="anonymous"></script>
    <!-- End Scripts -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2XMG6P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- partial('_partials/header') %>

    <%- body %>

    <%- partial('_partials/footer') %>

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function(user) {
            if (!user) {
              window.netlifyIdentity.on("login", function() {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
    <script>
        const nav = document.getElementById('js-navbar-nav');
        const menuIcon = document.getElementById('js-navbar-icon');
        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('is-close-icon');
            nav.classList.toggle('is-open');
        });
    </script>
</body>
</html>
