<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- open_graph() %>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600|Playfair+Display|Poiret+One&display=swap" rel="stylesheet">
    <%- css('css/styles.css') %>
    <link rel="icon" type="image/png" href="<%- theme.favicon %>">
    <title>Jenstech</title>
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/2df9c1014b.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- partial('_partials/header') %>

    <%- body %>

    <%- partial('_partials/footer') %>

    <script>
        const nav = document.getElementById('js-navbar-nav');
        const menuIcon = document.getElementById('js-navbar-icon');
        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('is-close-icon');
            nav.classList.toggle('is-open');
        });
    </script>
</body>
</html>
