<main class="page">
    <header class="page-header">
        <div class="page-header__container">
            <% if (page.image) { %>
            <figure>
                <%- image_tag(page.image, { class: 'page-header__image', alt: page.subtitle }) %>
            </figure>
            <% } %>
            <h2 class="page-header__title"><%- page.title %></h2>
        </div>
    </header>

    <% if (page.subtitle && page.content) { %>
    <section class="page__container page__content">
        <h1 class="page__content-title"><%- page.subtitle %></h1>

        <hr class="page__line">

        <%- page.content %>
    </section>
    <% } %>

    <%- partial('_partials/contact-form') %>
</main>
